# See docs/Config_Reference.md for a description of parameters.

[include macros.cfg]
[include klicky-probe.cfg]
[include z_calibration.cfg]
[include nozzle_scrub.cfg]
[include filament_sensor.cfg]
[include stealthburner_leds.cfg]
#[include klipperscreen.conf]

[mcu]
##	[X in MOTOR0] - B Motor
##	[Y in MOTOR1] - A Motor 
##	[E in MOTOR6] - Extruder 
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0B003600125053424E363620-if00
#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 450  
max_accel: 10000    			#Max 4000
max_accel_to_decel: 10000
max_z_velocity: 25 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 8.0

[thermistor Custom NTC100K B3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

[duplicate_pin_override]
pins:PF3                  #heat_bed thermistor pin

#####################################################################
# 	X/Y Stepper Settings 
##################################################################### 

## X Stepper on MOTOR0(B Motor) -------------------------------------
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: PG6
position_min: 0

position_endstop: 250  
position_max: 250

homing_speed: 150   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: False
run_current: 0.9
#hold_current: 0.7
sense_resistor: 0.110
#stealthchop_threshold: 0

## Y Stepper on MOTOR1 (A Motor) ------------------------------------
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: PG9
position_min: 0

position_endstop: 257
position_max: 257

homing_speed: 150     #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: False
run_current: 0.9
#hold_current: 0.7
sense_resistor: 0.110
#stealthchop_threshold: 0
 
#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2_1 ------------------------------
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: PG10
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -1

position_max: 210

position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: False
run_current: 1.0
#hold_current: 0.6
sense_resistor: 0.110
#stealthchop_threshold: 0


##	Z1 Stepper - Rear Left on MOTOR3 ---------------------------------
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: False
run_current: 1.0
#hold_current: 0.7
sense_resistor: 0.110
#stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on MOTOR4 --------------------------------
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: False
run_current: 1.0
#hold_current: 0.7
sense_resistor: 0.110
#stealthchop_threshold: 0

##	Z3 Stepper - Front Right on MOTOR5 -------------------------------
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: False
run_current: 1.0
#hold_current: 0.7
sense_resistor: 0.110
#stealthchop_threshold: 0


#####################################################################
# 	Extruder
#####################################################################

#	E0 on MOTOR6
[extruder]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point

rotation_distance: 21.9515752368696059953460759052	   #Bondtech 5mm Drive Gears

#gear_ratio: 50:17				#BMG Gear Ratio
gear_ratio: 50:10              #CW2 Ratio
microsteps: 64
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF4
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##	Try to keep pressure_advance below 1.0
#pressure_advance: 0.025       #Printwithsmile PLA
#pressure_advance: 0.03        #Smartfil ABS
pressure_advance: 0.04       #Printwithsmile ASA+ABS
#pressure_advance: 0.045       #eSun ABS+ 
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

##	E0 on MOTOR6
[tmc2209 extruder]
uart_pin: PE1
interpolate: False
run_current: 0.85
hold_current: 0.60
stealthchop_threshold: 0


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA1
sensor_type: Custom NTC100K B3950
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.02
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
pin: PG11
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: PD12
kick_start_time: 0.6
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
cycle_time: 0.01
off_below: 0.10

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: PD13
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

[heater_fan controller_fan 1]
##	Controller fan - CNC_FAN2
pin: PA8
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0
fan_speed: 0.5

[heater_fan controller_fan 2]
##	Controller fan - CNC_FAN2
pin: PE5
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0
fan_speed: 0.5

#[fan_generic Nevermore]
#pin: PD14
#max_power: 1.0
#kick_start_time: 0.5
#off_below: 0.25
#cycle_time: 0.010

[temperature_fan Nevermore]
pin: PD14       #fan pin
max_power: 1.0
kick_start_time: 0.5
off_below: 0.0
sensor_type: Custom NTC100K B3950     #thermistor type from bed_heater section
sensor_pin: PF3                     #bed thermistor pin from bed_heater section
control: watermark
#max_delta: 10                      #enable for a delta target temp
min_temp: 10
max_temp: 120
target_temp: 68                     #set to 2ish deg below target temp. I'm looing for a fan on at 100c+ 
max_speed: 1.0
min_speed: 0.0

#[heater_fan exhaust_fan]
##	Exhaust fan - CNC_FAN3
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
# Chamber Lighting - HE1 Connector (Optional)
pin: PA3
pwm: true
shutdown_value: 0
value: .5
cycle_time: 0.01

#####################################################################
# 	Temp Sensors
#####################################################################

#[thermistor chamber_temp]
#temperature1: 25
#resistance1: 10000
#beta: 3950

#[temperature_sensor enclosure_temp]
#sensor_type: chamber_temp
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
#gcode_id: C

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

#[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
#home_xy_position:181.4,250
#speed:200
#z_hop:10

[quad_gantry_level]
gantry_corners:
	-60,-10
	310, 320
##	Probe points
points:
	50,25
	50,175
	200,175
	200,25

speed: 450
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

#####################################################################
# 	Necessary Config
#####################################################################

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

#####################################################################
# 	BED MESH
#####################################################################

[bed_mesh]
speed: 450
horizontal_move_z: 10

mesh_min: 40, 40
mesh_max: 210,210

fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
algorithm: bicubic
relative_reference_index: 12

#####################################################################
# 	INPUT SHAPER
#####################################################################

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points: 125,125,30  # an example

[input_shaper]
shaper_freq_x: 60.8
shaper_type: zv

shaper_freq_y: 59.4
shaper_type: mzv

#####################################################################
# 	Macros
#####################################################################



    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 31.486
#*# pid_ki = 1.999
#*# pid_kd = 123.976
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.625
#*# pid_ki = 2.283
#*# pid_kd = 61.131
#*#
#*# [stepper_z]
#*# position_endstop = -0.642
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.020000, 0.002500, -0.015000, -0.012500, -0.005000
#*# 	-0.015000, -0.010000, -0.005000, -0.005000, -0.022500
#*# 	-0.015000, -0.002500, 0.000000, 0.000000, -0.012500
#*# 	-0.020000, -0.007500, -0.010000, -0.012500, -0.010000
#*# 	-0.025000, -0.012500, -0.005000, 0.000000, -0.017500
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 5
#*# max_y = 210.0
#*# mesh_x_pps = 2
#*# max_x = 210.0
#*#
#*# [probe]
